.bg-orange, .bg-blue, .bg-darkpink, .bg-pink {
    height: 100px;
}

.bg-orange {
    background-color: #F2913D;
}

.bg-blue {
    background-color: #05F2F2;
}

.bg-darkpink {
    background-color: #BF0B4D;
}

.bg-pink {
    background-color: #f20f62;
}

.bg-left {
    height: 100%;
    background-color: #F2D338;
}






@media screen and (min-width: 450px) and (max-width: 992px) {
    .bg-orange, .bg-blue, .bg-darkpink, .bg-pink {
        height: 20px;
    }
}