h1 {/* h1 est un sélécteur */
    color: red;/* couleur du texte */
    font-size: 50px;/* taille de la police de caractère */
}
.test {
    font-weight: 300;/* graisse de caractère */
    font-family: Arial,sans-serif;/* police de caractère */
    font-size: 60px;
}

img {
    width: 150px;/* taille de l'image, largeur*/
    height: 150px;/* taille de l'image, hauteur */
}

p {
    color: white;
    font-size: 20px;
    width: 300px;

}
.bgc {
    background-color: green;/* couleur de fond, arrière plan */
    width: 600px;
    border: 4px solid red;/* bordure: taille 4px, état solid, couleur red */
    border-radius: 40px;/* arrodir les angles */
    padding: 20px;/* marge intérieur */
    margin: 40px;/* marge extérieur */
}

li {
    color: #ff0000;
    text-decoration: underline;/* texte souligné */
}

.green {
    color: green;
    text-decoration: none;
}
.main-box {
    background-color: #ffaa00;
    width: 900px;
}
.main-box .box1 {
    background-color: lightseagreen;
}
.box {
    display: inline-block;
    width: 280px;
    height: 180px;
    margin: 8px;
}

.box1 {
    background-color: #b74867;
    box-shadow: #2c2c2c 12px 8px 20px 10px;/* ombre sur la box */
}

.box2 {
    background-color: #2c2c2c;
}

.box3 {
    background-color: crimson;
}

.bgi {
    height: 300px;
    background-image:url("assets/img/Screenshot_2020-12-09 Les bases des CSS.png");
    background-repeat: no-repeat;/* no- repeat, ne répète pas l'image */
    background-position: center;/* position de l'image */
    background-size: cover;/* couvre toute la taille dee la div */
}
a {
    text-decoration: none;
    color: darkviolet;
    font-size: 30px;
    transition: ease-in-out 0.8s;/* réglage de la transition */
}

a:hover {/* speudo class hover, au survole de la souris */
    color: lightseagreen;
    text-decoration: underline;
}