.main-box {
    background-color: #ffaa00;
    width: 900px;
}
.main-box .box1 {
    background-color: lightseagreen;
}
.box {
    display: inline-block;
    width: 280px;
    height: 180px;
    margin: 8px;
}

.box1 {
    background-color: #b74867;
    box-shadow: #2c2c2c 12px 8px 20px 10px;/* ombre sur la box */
}

.box2 {
    background-color: #2c2c2c;
}

.box3 {
    background-color: crimson;
}
