



.Rectangle {
    width: 1920px;
    height: 100px;
    background-color: #398c8f;
}
h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    margin-top: 60px;
    margin-bottom: 40px;
}



.Les-dernires-arriv {
    width: 604px;
    height: 59px;
    margin: 50px auto;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #13bcc2;
}


.card {
    width: 390px;
    height: 488px;
    margin: 59px 28px 0;
    padding: 42px 24px 12px;
    border-radius: 12px;
    border: solid 1px #13bcc2;
    background-color: #fff;
}

.abundance-1868573_1920 {
    width: 1918px;
    height: 198px;
}