/*-----------------------------------------------------GENERAL*/
h1, h2, button, a {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Playfair Display", serif;
    font-size: 14px;
}

h1 {
    font-size: 58px;
    line-height: 64px;
}

h2 {
    font-size: 44px!important;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 60px 0 40px!important;
}

h3 {
    font-size: 30px!important;
    font-weight: 600;
    text-transform: uppercase;
    color: #ad8438;
}

button {
    text-transform: uppercase!important;
    border-radius: 0!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

/*-----------------------------------------------------NAV*/

nav {
    font-size: 20px;
}

nav li a {
    font-size: 16px;
    transition: ease-in-out 0.3s;
}

nav li a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

/*-----------------------------------------------------PARTIE ACCROCHE*/

.bg-accroche {
    background-image: url("assets/img/dinner-4137381_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    color: white;
}

.alpha-bg {
    background-color: rgba(0,0,0,0.5);
    padding-right: 50px!important;
}

/*-----------------------------------------------------PARTIE SERVICES*/

.bg-light-grey {
    background-color: #efefef;
}

.services {
    max-width: 1200px;
}

/*-----------------------------------------------------PARTIE FORMULAIRE*/

.bg-footer  {
    background-image: url('assets/img/table-3084384_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

footer h2 {
    color: white;
}

footer .alpha-bg {
    padding-right: 15px!important;
    max-width: 1400px;
}

form div {
    margin: 15px 0;
}

label {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

input, textarea {
    border-radius: 0!important;
    background-clip: unset;
    border: none!important;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: #ad8438 !important;
}

footer .copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px!important;
    text-align: center;
}

footer .copyright a {
    color: #ad8438;
}

@media screen and (max-width: 1200px) {
    .alpha-bg {
        padding-right: 15px!important;
    }
}
