.bg-blue, .bg-red,.bg-darkpink, .bg-orange {
    height: 80px;
}

.bg-orange {
    background-color: #F2913D;
}

.bg-blue {
    background-color: #48e3d1;
}

.bg-darkpink {
    background-color: #BF0B4D;
}

.bg-red {
    background-color: #ef2a2a;
}

.bg-purple {
    height: 100%;
    background-color: #7e1b60;
}
