.bg-orange, .bg-blue, .bg-darkpink, .bg-pink {
    height: 80px;
}

.bg-orange {
    background-color: #f2913d;
}

.bg-blue {
    background-color: #05f2f2;
}

.bg-darkpink {
    background-color: #bf0b4d;
}

.bg-pink {
    background-color: #f20f62;
}

.bg-yellow {
    height: 100%;
    background-color: #f2d338;
}

.bg-left-2 {
    background-color: #f2d338;
}

@media screen and (min-width: 450px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (min-width: 450px) and (max-width: 992px) {
    .bg-orange, .bg-blue, .bg-darkpink, .bg-pink {
        height: 40px;
    }
}